#bootstrap-overrides nav {
    background-color: #74bdf1;
}

.company-logo {
    width: 30;
    height: 30;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    line-height: 30px;
    background-color: #74bdf1;
}